body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.full-width {
    width: 100%;
}

pre {
    background-color: #eee;
    padding: 2ch;
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
